@use "color" as *;

.bar {
	background-color: rgba($front, 0.6);
	border-radius: 10px;
	min-height: 50px;

	.logo {
		color: $cyan;
		background-color: rgba($red, 0.5);
		min-width: 36px;
		min-height: 40px;
		border-radius: 10px;
		font-size: 32px;
		margin: 4px;
		padding-right: 5px;
		border-width: 2px;
		border-style: groove;
		border-color: $cyan;
	}

	.time {
      font-size: 20px;
	  margin: 0px 10px 0px 10px;
	  color: $cyan;
    }

	.music {
		color: rgba($red, 0.6);
		.img {
			min-width: 40px;
			min-height: 40px;
			background-repeat: no-repeat;
            background-position: center;
			margin: 4px;
		}
		.title {
			font-size: 14px;
		}
		.artist {
			font-size: 14px;
		}
	}

	.hardware {
		font-size: 20px;
		margin: 0px 10px 0px 10px;
		.type {
			color: rgba($red, 0.6);
		}
		.usage {
			color: $light-blue;
		}
		.freq {
			color: rgba($magenta, 0.8);
		}
		.power {
			color: rgba($light-yellow, 0.8);
		}
		.temp {
			color: $blue;
		}
		.mem {
			color: $light-cyan;
		}
	}
}
