$bar: #f5c1e9;
$front: #bebad9;
$back: #303446;

$black: #1a1730;
$light-black: #645e8c;

$red: #f26dab;
$light-red: #ff8d7c;

$green: #8ec794;
$light-green: #a8e5af;

$yellow: #e5c890;
$light-yellow: #f5dba8;

$blue: #8499d9;
$light-blue: #a0b4e5;

$magenta: #a78dd4;
$light_magenta: #c0a8e8;

$cyan: #7dd5d5;
$light-cyan: #9fe5e5;

$white: #bebad9;
$light-white: #d5d1e6;
