$front: #f5c1e9;
$back: #120b10;

$black: #333333;
$light-black: #777777;

$red: #ff0055;
$light-red: #ff6699;

$green: #61a702;
$light-green: #bef743;

$yellow: #fccb2e;
$light-yellow: #ffff40;

$blue: #4685ea;
$light-blue: #85b4ff;

$magenta: #8b4efc;
$light_magenta: #a8a8ff;

$cyan: #00ffc8;
$light-cyan: #7ff5f5;

$white: #aaaabb;
$light-white: #f8f8ff;
