.dashboard-bar {
  background-color: rgba(#f5c1e9, 0.6);
  border-radius: 10px;
}

.dashboard-button {
  opacity: 0.6;
  border-radius: 10px;
  margin: 3px;
  padding: 3px;
}

.quick-operation-scale {
  padding: 0px 5px 0px 5px;
}

.quick-operation-scale scale trough {
  background-color: #87012e;
  border-radius: 10px;
  min-height: 10px;
}

.quick-operation-scale scale trough highlight {
  background-color: #ff0055;
  border-radius: 10px;
}

.date-label {
  color: #ff0055;
  font-size: 20px;
  padding: 4px 0px 0px 0px;
}

.title {
  opacity: 0.6;
}

.title-label {
  color: #ff0055;
}

.artist {
  opacity: 0.6;
}

.artist-label {
  color: #ff0055;
}

.volume-label {
  color: #ff0055;
  font-size: 30px;
}

.brightness-label {
  color: #ff0055;
  font-size: 30px;
}

.battery-label {
  color: #ff0055;
  font-size: 16px;
}

.network-label {
  color: #ff0055;
  font-size: 28px;
}

.network-info {
  color: #ff0055;
  font-size: 15px;
  padding: 3px;
}

.bluetooth-label {
  color: #ff0055;
  font-size: 18px;
}

.bluetooth-info {
  color: #ff0055;
  font-size: 15px;
  padding: 3px;
}

.poweroff-label {
  color: #ff0055;
  font-size: 25px;
}

.reboot-label {
  color: #ff0055;
  font-size: 25px;
}

.suspend-label {
  color: #ff0055;
  font-size: 25px;
}

.exit-label {
  color: #ff0055;
  font-size: 25px;
}
